In [1]:
import pandas as pd
import numpy as np
import gc
import datetime
import time

%matplotlib inline

In [9]:
adAttributed = pd.read_csv('c:\\kaggle\\adtracking\\attributed.csv', header = 0)

adAttributed.info()
adAttributed.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456846 entries, 0 to 456845
Data columns (total 8 columns):
ip                 456846 non-null int64
app                456846 non-null int64
device             456846 non-null int64
os                 456846 non-null int64
channel            456846 non-null int64
click_time         456846 non-null object
attributed_time    456846 non-null object
is_attributed      456846 non-null int64
dtypes: int64(6), object(2)
memory usage: 27.9+ MB

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,204158,35,1,13,21,2017-11-06 15:41:07,2017-11-07 08:17:19,1
1,29692,9,1,22,215,2017-11-06 16:00:02,2017-11-07 10:05:22,1
2,64516,35,1,13,21,2017-11-06 16:00:02,2017-11-06 23:40:50,1
3,172429,35,1,46,274,2017-11-06 16:00:03,2017-11-07 00:55:29,1
4,199085,35,1,13,274,2017-11-06 16:00:04,2017-11-06 23:04:54,1
5,82917,19,0,24,210,2017-11-06 16:00:04,2017-11-07 00:21:50,1
6,126647,72,1,6,101,2017-11-06 16:00:05,2017-11-06 16:01:18,1
7,57546,29,1,41,213,2017-11-06 16:00:07,2017-11-06 16:03:51,1
8,189682,35,1,13,21,2017-11-06 16:00:07,2017-11-06 23:37:17,1
9,24200,19,88,24,213,2017-11-06 16:00:07,2017-11-07 04:18:51,1

In [50]:
print(pd.unique(adAttributed['app']))
#print(adAttributed['app'].value_counts())

v_count = adAttributed['app'].value_counts()
idStr = v_count.iloc[::].index
idVal = v_count.values

strIdx = '['
for ele in idStr:
    if len(strIdx) > 2:
        strIdx += ','    
    strIdx += str(int(ele))

strIdx += ']'
print(strIdx)

strVal = '['
for ele in idVal:
    if len(strVal) > 2:
        strVal += ','          
    strVal += str(int(ele))
strVal +=']'
        
print(strVal)

[ 35   9  19  72  29 128   8  27   2  45  10 110  11 155 136  96  14   5
   3  26  32  36 251 150  18  20  21  50 167  78  39 115  84 261  17 125
  34 105  37  51  66 121 108  71   1  15  12  60  64 190 120  13  79 122
 148  48 107 127  16 145  25  52 103 172 152   6 175   0  24 154 208 265
 279  83 481 202 230  86 236 143 361 158 223 192  55 130  28  22 250 246
  58  98 256  46  82 216 141  40 551 244 162 207  23 383 112 197 395 255
 195 206  74 326 333 292 173 241 210 315 386 224 237 163  62 102 443 153
  65  43 346 196 160 116 101 118 358  61 534  94 364  90 124 111  31 174
  87 171 615 304   7 559 431 573 366 384 634  70 536 554 123 242 280 640
 569 570 475 203 312 627 317 342 362 359 328  92 624 247 323 618 502 177
 214 656 290 338 497 370 139 334 495 375   4 736 336 191 493 492 731 670
 340 441 308 712 164 738 711 494 277 281 368 212 562 353 565 330 193  47
 768 753 263 291 360 392 763 253 350 310]
[19,35,29,10,5,9,45,72,3,18,8,2,11,39,66,20,15,84,12,14,83,27,107,62,37,50,96,108,26,79,43,1,7,34,115,32,55,145,48,0,16,190,121,13,51,36,148,150,155,24,116,70,120,17,64,78,167,21,60,125,105,82,98,71,175,52,128,214,481,112,246,6,124,136,130,101,244,202,236,22,103,143,191,261,139,90,127,152,65,230,162,28,46,154,158,122,256,195,163,223,110,123,58,315,25,172,171,153,40,74,265,23,279,192,241,173,92,111,210,87,326,196,174,208,292,207,31,242,386,475,164,551,94,308,61,431,86,304,330,250,383,255,197,251,328,280,102,334,443,206,333,569,141,502,358,618,47,317,342,118,203,323,624,366,4,497,493,263,290,634,247,768,346,160,364,359,559,534,216,711,224,353,395,370,554,362,361,738,494,736,492,237,731,212,753,193,712,763,495,338,277,441,340,570,350,312,310,565,253,562,615,360,368,627,291,375,384,392,573,656,281,670,536,336,177,640]
[132390,64279,39957,34578,27263,18823,16307,11443,10261,7919,6875,5661,5391,5203,4159,3828,3418,2779,2640,2505,2350,2229,2101,2048,1879,1781,1725,1613,1461,1427,1326,1230,1182,1149,1130,1128,1110,1039,1029,1005,903,875,858,721,704,689,646,631,628,618,601,579,541,510,504,491,490,482,412,399,395,357,329,300,300,285,273,257,229,226,207,205,200,197,189,185,182,175,170,168,158,156,154,153,129,129,123,116,114,113,109,108,99,96,90,86,86,84,82,78,77,76,73,70,69,66,64,59,59,58,57,50,49,45,45,42,40,40,39,37,34,31,31,28,27,23,22,22,21,21,21,20,19,19,19,17,17,17,16,15,15,14,14,13,9,9,9,8,8,7,7,7,7,7,7,7,6,6,6,6,5,5,5,5,5,4,4,4,3,3,3,3,3,3,3,3,3,3,2,2,2,2,2,2,2,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]

In [37]:
print(pd.unique(adAttributed['device']))
print(adAttributed['device'].value_counts())

[   1    0   88 ... 3991 3753 4125]
1       306495
0       101817
6         2937
40        2605
2         2223
16        2202
18        1473
21        1150
33        1100
67         809
30         802
88         744
114        718
37         666
154        652
109        614
7          607
78         596
50         581
97         485
46         466
82         428
60         420
211        405
56         344
136        336
299        336
220        328
96         322
4          320
         ...
907          1
2442         1
139          1
2186         1
3979         1
1930         1
3723         1
1162         1
394          1
3976         1
1417         1
393          1
2440         1
3465         1
2949         1
1416         1
2953         1
1671         1
903          1
1670         1
1414         1
2439         1
2183         1
3716         1
3460         1
1157         1
3204         1
1668         1
1412         1
2683         1
Name: device, Length: 1869, dtype: int64

In [35]:
print(pd.unique(adAttributed['os']))
print(adAttributed['os'].value_counts())

#d_bar = adAttributed.pivot_table(index='os', aggfunc=np.median)

[ 13  22  46  24   6  41  19  44  25  20  17  10  21   9  38  29   0  40
   1  28  34  15  12  14  18  67   3   8  16 607  50  49  84  23  30  53
  26  27  37  35   4  76  31  59  48 109  47  96  32  36 260  11 113 104
 135   2  61 134   7  81 117 145  43  66  42 108  95  58 146  87 223 184
  80 155  92 158   5  52  55 733  77 174  91 242 658  89  99 314 614 152
  98 107 132 748 302 131  57 198 566 123 141 168  70 346 110 154 188  63
 866 183 118  45 120  64 169  73]
19     79669
13     61622
24     47461
0      38039
29     19534
21     19181
22     13115
38     11976
18     11682
17     11371
37      8230
32      6955
50      6575
10      6289
27      6278
11      6161
30      6017
47      5899
43      5777
4       5707
36      5701
8       5609
61      5569
7       5515
6       5486
25      5065
20      5045
15      4388
16      4225
14      3869
       ...
108        5
123        4
198        4
95         4
314        3
733        3
168        3
154        3
152        3
346        3
134        3
188        2
132        2
45         2
117        2
80         2
566        2
302        1
131        1
110        1
614        1
658        1
73         1
158        1
70         1
169        1
183        1
64         1
63         1
120        1
Name: os, Length: 116, dtype: int64

In [38]:
print(pd.unique(adAttributed['channel']))
print(adAttributed['channel'].value_counts())

[ 21 215 274 210 101 213 243 140 122 145 481 282 134 268 113 463 377 480
 266 219 489 128 442 110 439 347 258 107 259 343 137 280 224 153 317 401
 333 203 341 451 234   3 452 319 232 173 430 205 315 459 478 349 130 477
 121 400 245 466 244 411 171 424 435 445 320 108 379 409 325 469 414 328
 125 105 115 135 265 386 212 178 421 236 211  19 330 376 402 123 237  17
 225 334 253 120 364 126 124 446 261 412 116 487 242 371 111  30 326 497
  13 182 449 150 373 277   0 332 360 460 181 278 467 222 498 311 118 417
 353 410 450 488 419   4 407 406 457 496 262 416 208 453 174  18 361 408
 114 486   5 356 456 465 391  22 169 251  14 160 129 352 223  24 458 340
 479 127 216 162 233 138 484 448 483  15 322 490]
213    133070
113     55866
21      42469
101     33176
274     25888
347     19113
343     10272
333      9477
282      6699
419      6675
5        5780
145      5495
243      4956
107      4262
280      4075
171      4004
377      3649
134      3524
466      2950
203      2926
210      2687
465      2606
259      2558
244      2353
334      2300
478      2223
121      2055
317      2047
268      2003
330      1712
        ...
138        17
233        16
361        16
416        15
446        15
13         14
353        12
24         12
352        11
262        11
364        10
486         9
407         9
484         6
174         5
251         4
483         4
160         4
322         3
356         2
479         1
458         1
490         1
14          1
15          1
216         1
169         1
162         1
223         1
129         1
Name: channel, Length: 174, dtype: int64